.home {
  &__container {
    width: 900px;
    margin: 0 auto;
  }
  &__nav {
    background-color: rgb(175, 210, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 40px auto;
  }
  &__item {
    padding: 10px;
    margin: 0 20px;
    a {
      color: black;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        color: rgb(92, 135, 220);
        transition: all 0.3s;
      }
    }
  }
  ._hover {
    font-size: 18px;
    color: rgb(3, 66, 161);
    text-decoration: underline;
    transition: all 0.5s;
  }
}
